# Next Auth

# Next Auth v5 can automatically infer environment variables that are prefiexed with `AUTH_`
# For example `AUTH_GITHUB_ID` and `AUTH_GITHUB_SECRET`
# will be used as the `clientId` and `clientSecret` options for the GitHub provider.
# https://authjs.dev/reference/nextjs#environment-variable-inferrence

# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth GitHub Provider
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET="
